<div class="movement-list" (click)="openDialog()">

    <div class="movement-item">
        <div class="movement-left">
            <app-icon [icon]="expensesMovimientos!.category!.icon" [color]="expensesMovimientos!.category!.color"
                [backgroundColor]="expensesMovimientos!.category!.background"></app-icon>
            <div class="movement-text">
                <p class="movement-title">{{expensesMovimientos!.description}}</p>
                <p class="movement-date">{{expensesMovimientos!.date | date: 'mediumDate'}}</p>
            </div>
        </div>
        <p class="movement-amount negative">-$ {{expensesMovimientos!.amount}}</p>
    </div>

</div>

<p-dialog [(visible)]="visibleDialog" [modal]="true" [draggable]="false" appendTo="body" [style]="{ width: '85vw' }"
    [contentStyle]="{
    display: 'flex',
    justifyContent: 'center',
  }" [breakpoints]="{ '1024px': '85vw', '640px': '95vw' }">

    @if (expensesMovimientos != null) {
    <app-form-gastos [mode]="'edit'" [expense]="expensesMovimientos" (close)="closeDialog()">
    </app-form-gastos>
    }
</p-dialog>