<div class="card">

    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <label class="field">
            <span>Descripción</span>
            <input type="text" formControlName="description" />
        </label>

        <label class="field">
            <span>Monto</span>
            <div class="input-icon">
                <span class="prefix">$</span>
                <input type="number" formControlName="amount" />
            </div>
        </label>

        <label class="field">
            <span>Fecha</span>

            <input type="date" formControlName="date" />

        </label>

        <label class="field">
            <span>Categoría</span>
            <div class="select-wrapper">
                <p-select formControlName="category" [options]="categories" optionLabel="categoryName"
                    optionValue="categoryName" [placeholder]="'Seleccionar'" [style]="{ width: '100%' }"></p-select>
            </div>
        </label>

        <div class="actions">
            <button class="btn primary" type="submit">
                {{ mode === 'create' ? 'Guardar' : 'Guardar cambios' }}
            </button>
        </div>

    </form>
</div>