.confirmacion {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

span {
    margin-top: 10px;
    font-size: 4em;
    color: green;
}

p {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    color: var rgb(0, 0, 0);
}