.parent {
    display: flex;
    gap: 8px;
    width: 70%;
}

.content-grafico {

    width: 70%;
    padding: 10px 20px;
}


.total-mes,
.total-semana {
    padding: 20px;
    width: 50%;
}



.content-movimientos {
    width: 70%;
    margin-bottom: 20px;
}

.card-title {
    padding: 20px 24px 12px;
    font-size: 22px;
    font-weight: 700;
    color: black;
}

.card-title {
    color: black;
}