.login {
    width: 100%;
    min-height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-center {
    max-width: 380px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px 7px rgba(177, 177, 177, 0.274);
    padding: 30px 40px;
}

.header-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.header-form p {
    font-weight: 300;
    color: #afafaf;
}

.header-form h2 {
    font-weight: bold;
}

.header-form span {
    background-color: #d1fae5;
    border-radius: 50%;
    padding: 10px;
    color: #34d399;
}

.container-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
}


.input-wrapper {
    position: relative;
    width: 100%;
}


.input-wrapper .input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #777;
    pointer-events: none;
    z-index: 1000;
}

.input-wrapper input.p-inputtext {
    width: 100%;
    padding-left: 40px !important;
    box-sizing: border-box;
}

.boton {

    margin-top: 20px;
}

.mensaje-registro {
    color: #afafaf;
    text-align: center;
}

.registro {
    color: #34d399;
    font-weight: 800;
    cursor: pointer;
}

.registro:hover {
    color: #22b69e;
}