     :host ::ng-deep .p-dialog {

         border-radius: 40px !important;

     }

     :host ::ng-deep .p-dialog-content {

         padding: 30px !important;

     }

     .container {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }

     .confirmacion {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         margin-bottom: 28px;
     }

     .title-alert {
         font-size: 1.5em;
         font-weight: 800;
         color: #1c1c0d;
         margin-bottom: 10px;
         text-align: center;
     }

     .text-alert {
         font-size: 0.9em;
         color: rgba(28, 28, 13, 0.7);
         max-width: 300px;
         text-align: center;
     }

     .icon {
         font-size: 30px;
         color: #fff;
         background: #34d399;
         width: 60px;
         height: 60px;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         margin: 0 auto 20px;
     }

     .icon-header {
         font-size: 1.5em;
         color: #000000;
         margin: 0 auto;
     }

     .icon.error {
         background-color: #dc2626;
     }

     .icon.warning {
         background-color: #34d399;
     }

     .header {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 5px;
         font-weight: 700;
     }



     .vista-previa {
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: #f8f8f5;
         padding: 10px 13px;
         border-radius: 12px;

     }

     .vista-previa .informacion {
         flex: 1;
         text-align: left;
         margin-left: 12px;
     }

     .vista-previa .description {
         font-size: 14px;
         font-weight: 700;
         color: #1c1c0d;
     }

     .vista-previa .date {
         font-size: 12px;
         opacity: 0.6;
         font-style: italic;
     }

     .vista-previa .amount {
         font-size: 18px;
         font-weight: 800;
         color: #1c1c0d;
     }

     .footer {
         display: flex;
         justify-content: center;
         gap: 10px;
         margin-top: 20px;
     }