* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    width: 100%;
    max-width: 900px;
    background: #ffffff;
    border-radius: 16px;
    padding: 0 24px;

    margin: 0 auto;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}


.icon-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #555;
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.field span {
    font-size: 14px;
    font-weight: 500;
    color: #444;
}

input,
select {
    height: 48px;
    width: 100%;
    padding: 0 12px;
    border-radius: 10px;
    border: 1px solid #e0e5e0;
    font-size: 16px;
    color: #2f3330;
}

select {
    padding-left: 32px;
    overflow: hidden;
}

input:focus,
select:focus {
    outline: none;
    border-color: #4f7cff;
    box-shadow: 0 0 0 2px rgba(79, 124, 255, 0.2);
}

.input-icon,
.select-wrapper {
    position: relative;
}

.prefix {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}

.input-icon input {
    padding-left: 32px;
}

.right input {
    padding-right: 36px;
}

.suffix {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #777;
}

/* Actions */
.actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

.btn {
    height: 48px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.btn.primary {
    background: #4f7cff;
    color: white;
}

.btn.primary:hover {
    opacity: 0.9;
}

.btn.danger {
    background: transparent;
    color: #d64545;
}

.btn.danger:hover {
    background: rgba(214, 69, 69, 0.1);
}