.container-add-gasto {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 40px 45px;
    gap: 20px;
    box-shadow: 0px 4px 8px rgba(85, 85, 85, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 1.1em;
    text-align: left;
}

form {

    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 350px;
    max-width: 500px;

    border-radius: 10px;

}

