main {
    padding-top: 20px;
    background-color: #f7fbf9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

nav {
    padding: 20px;
    width: 70%;

}

.parent {
    display: flex;
    gap: 8px;
    width: 70%;
}

.content-grafico {

    width: 70%;
    padding: 10px 20px;
}


.total-mes,
.total-semana {
    padding: 20px;
    width: 50%;
}

nav,
.content-grafico,
.total-mes,
.total-semana,
.content-movimientos {
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px 1px rgb(233, 233, 233);
}

.content-movimientos {
    width: 70%;
    margin-bottom: 20px;
}

.card-title {
    padding: 20px 24px 12px;
    font-size: 22px;
    font-weight: 700;
    color: black;
}

.card-title {
    color: black;
}

@media (max-width: 1024px) {

    nav,
    .content-grafico,
    .content-movimientos,
    .parent {
        width: 90%;
    }
}