.gastos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.container p {
    font-size: 0.8em;
    font-weight: 600;
    color: rgb(134, 134, 134);
}

h3 {
    font-size: 1rem;
    font-weight: 600;
}

.content-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}



.container-total {
    display: flex;
    gap: 8px;
}

.variation-label {
    font-size: 0.75rem;
    color: #424242;
    text-align: center;
}

.variation-value {
    font-size: 1.1rem;
    font-weight: 700;
    color: green;
}

.grafico {
    display: flex;
    justify-content: center;
    width: 100%;
}

p-chart {
    max-width: 400px;
}

@media (max-width: 768px) {
    small {
        display: none;
    }
}