.gastos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.container p {
    font-size: 0.8em;
    font-weight: 600;
    color: rgb(134, 134, 134);
}

.content-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-total {
    display: flex;
    gap: 8px;
}

span {
    color: green;
}

.grafico {
    display: flex;
    justify-content: center;
    width: 100%;
}

p-chart {
    max-width: 400px;
}