<div class="container-gasto">
    <h1>{{ gasto() ? 'Editar Gasto' : 'Agregar Nuevo Gasto' }}</h1>
    <form [formGroup]="form">

        <app-input label="monto" type="number" texto="Monto" placeholder="$ 0.00" icon="monetization_on"
            formControlName="monto">
        </app-input>

        <app-input label="descripcion" type="text" texto="Descripcion" placeholder="?" icon="description"
            formControlName="descripcion">
        </app-input>
        <app-select label="categoria" texto="Categoria" icon="sell" placeholder="Seleccionar categoria"
            formControlName="categoria"></app-select>

        <div class="form-group">
            <label for="fecha">
                <span class="material-symbols-outlined icon-label">
                    calendar_today </span>
                Fecha</label>
            <input type="date" id="fecha" name="fecha" formControlName="fecha">
        </div>
        <app-button [texto]="gasto() ? 'Guardar Cambios' : 'Agregar Gasto'" tipo="submit"
            class="btn-agregar-gasto"></app-button>
    </form>
</div>