.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 8px 13px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}


.buttons {
    display: flex;
    gap: 5px;
}

.filter span {
    font-size: 1.3em;
}

.primary {
    background-color: #34d399;
    color: white;
}

.title-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title-nav h1 {
    font-size: 1.2em;
    font-weight: 700;
}

.title-nav span {
    color: #34d399;
    padding: 5px;
    border-radius: 12px;
    background-color: #d1fae5;

}