.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title-nav h1 {
    font-size: 1.2em;
    font-weight: 700;
}

.title-nav span {
    color: #34d399;
    padding: 5px;
    border-radius: 12px;
    background-color: #d1fae5;
    font-size: 1.4em
}