<div class="nav">
    <div class="title-nav">
        <span class="material-symbols-outlined text-xl">
            wallet
        </span>

        <h1>Mis gastos</h1>
    </div>
    <div class="buttons">
        @if(isFilterView){
        <app-button [variant]="'primary'" [size]="'sm'" [icon]="'material-symbols-outlined'" [type]="'home'"
            (click)="goHome()"></app-button>
        }
        @else{

        <app-button [variant]="'primary'" [size]="'sm'" [icon]="'material-symbols-outlined'" [type]="'add'"
            (click)="onClickAddExpense()"></app-button>

        <app-button [variant]="'primary'" [size]="'sm'" [icon]="'material-symbols-outlined'" [type]="'filter_alt'"
            (click)="onClickFilter()"></app-button>
        }
    </div>
</div>